body {
	font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  height: 100%;
  color: #333;
  background: url("/img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.header {
  background: url("/img/mark.png") repeat-x 0px 40px;
  overflow: hidden;
	border-top: 1px soli2 #fff;
	padding-bottom: 50px;
}

.navbar-inner {
	background: white;
}

.jumbotron {
  position: relative;
  padding: 40px 0;
	color: #a6b3b6;  
  text-shadow: 0 1px 3px rgba(255,255,255,.4), 0 0 30px rgba(255,255,255,.075);

}
.jumbotron h1 {
  font-size: 30px;
  letter-spacing: -1px;
	font-weight: normal;
}
.jumbotron p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

.navbar .brand {
	font-family: "Open Sans";
  color: #a6b3b6;
	text-transform: uppercase; 
}

.navbar .nav > li > a  {
	color: #a6b3b6;
  
}